@media (min-width: 300px) and (max-width: 575px) {
  .mynav .button-collapse {
    margin-right: 7px;
  }
}

.header {
  padding: 40px 0;
}

.header > div > p {
}

.h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 43px;
  color: #2e2e2e;
}

.header .h2 .atlanta {
  color: #0004DD;
  text-decoration: underline;
}

.header .h2 .atlanta:hover {
  font-weight: bold;
}

.atlanta:visited {
  color: #575757;
}

.ga-map {
  background: #DDD;
  max-width: 940px;
  max-height: 340px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.ga-map a.atlanta-link {
  background: url('../../assets/img/u5182.png') no-repeat 0px 0px;
  background-position: center;
  display: block;
  position: absolute;
  right: 44%;
  top: 25%;
  height: 34px;
  width: 27px;
}

.ga-map a.atlanta-link:hover {
  background: url('../../assets/img/u5182-r.png') no-repeat 0px 0px;
}

.watch-video {
  background: #395c86;
  padding: 40px 0;
  text-align: center;
}

.watch-video .video {
  height: 324px;
  max-width: 576px;
  margin: 0 auto;
}

.insurance {
  padding-top: 40px;
  padding-bottom: 40px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sunrise .h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #053441;
}

.sunrise ul {
  padding-left: 15px;
  background-color: transparent;
  line-height: 26px;
  color: #555555;
  font-size: 16px;
  margin-bottom: 0;
}

.sunrise ul li span {
  font-weight: bold;
}

.testimonials {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #555555;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
}

.mb-0, .my-0 {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
}

@media (max-width: 767px) {
  .testimonials .right-para {
    margin-top: 20px;
  }
}

.testimonials .right-para {
  padding-left: 0;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .testimonials .leftside {
    text-align: center;
    margin: 0 auto;
  }
}

.testimonials .leftside {
  max-width: 494px;
  max-height: 368px;
}

.footer {
  border-style: none;
  border-color: transparent;
  background-color: #222;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer .copyrights {
  display: block;
  overflow: hidden;
  color: #FFF;
}

.footer .copyrights p {
  float: left;
  background-color: transparent;
  color: #FFF0DD;
  line-height: 14px;
  text-align: left;
  font-size: 12px;
}

.footer .copyrights a {
  float: right;
  text-decoration: none;
  background-color: transparent;
  color: #FFF0DD;
  line-height: 14px;
  text-align: left;
  font-size: 12px;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  cursor: pointer;
}

.footer .h2 {
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  color: #FFF0DD;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}

@media (max-width: 360px) {
  .footer .copyrights p {
    float: none;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .footer .copyrights p {
    position: relative;
    margin-bottom: 15px;
  }
}

@media (max-width: 360px) {
  .footer .copyrights a {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .ga-map a.atlanta-link {
    right: 41%;
  }
}

